/* CONTAINERS  **************************************************************************/

.mainContainer {
  width: 800px;
/*   height: 575px; */
  border: solid black;
}

.topContainer {
  display: flex;
  /* height: 205px; */
  width: 794px;
  border: solid greenyellow;
}

.bottomContainer {
  display: block;
  width: 794px;
  /* height: 205px; */
  border: solid cyan;
}


/* PANELS  **************************************************************************/

.cardPanel {
  display: flex;
  width: 788px;
  border: solid lightseagreen;
}

.verticalBar {
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 794px;
  background-color: black;
  color: whitesmoke;
  border: solid orchid;
}

.buttonPanel {
  display: flex;
  justify-content: space-evenly;
  border: solid purple;
  width: 550px;
}


/* DISPLAYS  **************************************************************************/

.display {
  height: 22px;
  line-height: 25px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border: solid purple;
}

.display.deal {
  font-weight: 500;
}

.display.draw {
  font-weight: 900;
}

.display.credit {
  width: 150px;
}

.display.round {
  width: 150px;
}

.display.outcome {
  width: 250px;
}

.cardDisplay {
  height: 205px;
  font-size: 75px;
  font-weight: 900;
  line-height: 200px;
  text-align: center;
  color: black;
  border: 2px solid whitesmoke;
  background-color: whitesmoke;
  border-radius: 10px;
}

.cardDisplay.onHold {
  border-color: teal;
}


/* BUTTONS  **************************************************************************/

.actionButton { 
  padding: 5px;
  width: 100px;
  margin: 5px;
  font-weight: 900;
}

.holdButton {
  width: 100%;
  height: 35px;
  color: black;
  border: solid lightgray;
  background-color: lightgray;
  margin-bottom: 5px;
}

.holdButton.pressed {
  background-color: lightseagreen;
  color: black;
  border: solid teal;
  font-weight: 900;
}

.holdButton:disabled {
  color: gray;
}


/* PAY TABLE  **************************************************************************/

.payoutBoard {
  display: flex;
  height: 200px;
  width: 49%;
  border: solid limegreen;
}

.payoutCol {
  width: 50%;
  border: solid black;
  background-color: black;
  padding-top: 5px;
}

.payoutElement {
  height: 20px;
  font-size: 11px;
  line-height: 20px;
  font-family: "Verdana";
  color:whitesmoke;
  font-weight: 500;
}

.payoutElement.highlighted.deal {
  background-color: rgb(0, 25, 0);
  color: lightgreen;
  font-weight: 500;
}

.payoutElement.highlighted.draw {
  background-color: lightgreen;
  color: black;
  font-weight: 900;
}

.payoutElement.left {
  text-align: right;
  padding-right: 5px;
}

.payoutElement.right {
  text-align: left;
  padding-left: 5px;
}


/* GAME LOG  **************************************************************************/

.displayLog {
  display: block;
  width: 49%;
  height: 190px;
  background-color: black;
  color: white;
  font-family: "Courier New";
  padding: 5px;
  overflow-y: auto;
  border: solid limegreen;
}

.displayLogRow {
  height: 12px;
  line-height: 12px;
  font-size: 11px;
}


/* MESSAGES  **************************************************************************/

.welcome {
  height: 205px;
  width: 794px;
  background-color: black;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  color: whitesmoke;
  border: solid orange;
}

.gameOver {
  display: block;
  height: 180px;
  width: 49%;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: lightcoral;
  border: solid lightcoral;
  background-color: black;
  padding: 10px;
}


/* MISC  **************************************************************************/

.cardDiv {
  width: 20%;
  border: solid teal;
  background-color: teal;
}

.checkboxDiv {
  line-height: 45px;
}

.statsDiv {
  border: solid slateblue;
  width: 788px;
  text-align: center;
}

.stats {
  display: block;
  border: 0.2px solid black;
  padding: 10px;
  width: 766px;
  font-size: 12px;
  line-height: 6px;
  overflow-x: auto;
  text-align: right;
  writing-mode: vertical-lr;
}

.hidden {
  display: none;
}
