.mainContainer {
  width: 800px;
  height: 600px;
  border: solid black;
}

.topBar {
  display: flex;
  height: 50px;
  border: solid purple;
}

.payoutBoard {
  display: flex;
  height: 200px;
  border: solid lightseagreen;
}

.payoutCol {
  width: 50%;
  border: solid orange;
}

.cardPanel {
  display: flex;
  height: 250px;
  border: solid greenyellow;
}

.cardDiv {
  width: 20%;
  border: solid blueviolet;
}

.holdButton {
  width: 100%;
  height: 35px;
  border: solid gray;
}

.cardArea {
  height: 205px;
  font-size: 75px;
  font-weight: 900;
  line-height: 200px;
  text-align: center;
  color: black;
  border: solid gray;
}

.cardArea.red {
  color: darkred;
  display: none;
}

.buttonPanel {
  display: flex;
  height: 50px;
  border: solid palevioletred;
}

.newGameButton, .dealHandButton, .drawButton {
  padding: 5px;
  width: 100px;
  margin: 10px;
}

.resultOutput {
  width: 250px;
  border: solid turquoise;
  line-height: 25px;
  padding: 10px;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
}

.roundCount {
  width: 132px;
  border: solid orchid;
  line-height: 25px;
  padding: 10px;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
}